<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<script src="http://code.jquery.com/jquery-2.1.4.min.js"
		integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>

	<div id="displayDiv">
	
	</div>
	
	<script>
		var source = "<h1><p>{{name}}</p>"
					+ "<p>{{userid}}</p>"
					+ "<p>{{addr}}</p></h1>";
					
		var data = {name:"홍길동", userid:"admin", addr:"서울 송파구"};
		
		var template = Handlebars.compile(source);
		
		$("#displayDiv").html(template(data));
	</script>
	
	

</body>
</html>